* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	height: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	max-width: 1000px;
	gap: 30px;
}

/* Blinking cursor animation */
.content h1 {
	border-right: 7px solid pink;
	display: inline-block; /* Schrinks width for blinking cursor */
	animation: cursor .7s step-end infinite alternate;
}

/* Blinking cursor animation */
@keyframes cursor {
	50% { border-color: transparent;}
}

.photo {
	width: 50%;
	text-align: center;
}

.photo img {
	border-radius: 100%;
	object-fit: cover;
	width: 350px;
	height: 350px;
	margin: auto;
}

.content {
	font-size: 1.3rem;
	width: 50%;
    padding-right: 6%;
}

.content-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 10px;
	color: black;	
}

.content-list p {
    font-size: 12px;
}