.resume-container {
    background-image: url(/public/images/stairs_background.jpg);
    height: 93%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-container h1 {
    color: black;
    font-weight: 200;
    font-size: 50px;
}